<!DOCTYPE html>
{% load static %}
<html>
<head>
<title>RECIPE</title>
<link rel="stylesheet" href="{% static 'css/style.css'%}">
<style>
div{margin:10px;
border:1px 
}
body{
background-color:rgb(192, 206, 105);
}
</style>
<h1 style="text-align:center;"><b>Login</b></h1><br>
</head>
<body>
  <form  action ="{% url 'userlogin' %}" method="post" style="text-align:center;">
    {% csrf_token %}
    <div class="container">
        <form method="post" style="text-align:center;">
            <div class="form-group">
              <label for="exampleFormControlInput1" style="text-align:center;"><h4>Username</h4></label>
              <input type="text" name="name">
            </div>
           
           <div class="form-group">
           <label for="exampleFormControlTextarea1" style="text-align:center;"><h4>Password</h4></label>
           <input type="text" name="password">
           </div>
           
      
    <button type="submit" style="text-align:center;">Login</button>
    {{msg}}
    
    
    </div>
  </form> 
</body>
</html>
